@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap");
* {
  box-sizing: border-box;
  /*border: 0.5px solid rebeccapurple;*/
}

body {
  margin: 0;
}

html {
  font-size: 100%;
  font-family: "Nanum Gothic", sans-serif;
}

/*Styles for the general FEED container*/
main.main-feed-container {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  padding: 1.3% 2%;
  background-color: rgb(240, 240, 240);
  border-radius: 40px;
}
main.main-feed-container h2 {
  color: #202020;
  font-size: 2em;
}

header.searchvar-container, div.stories-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*Styles for the navegation var section*/
header.searchvar-container .search-input {
  flex: 1;
  max-width: 30em;
  display: flex;
  align-items: center;
  position: relative;
}
header.searchvar-container .search-input input {
  flex: 1;
  padding: 10px 30px;
  border-radius: 20px;
  font-size: 1em;
  border: none;
  box-shadow: inset 2px 2px 8px rgba(152, 152, 152, 0.276);
}
header.searchvar-container .search-input input:focus {
  outline: none;
  background-color: #fff1ea;
}
header.searchvar-container .search-input input::-moz-placeholder {
  font-family: "Nanum Gothic", sans-serif;
  font-weight: bold;
  font-size: 1em;
  color: grey;
}
header.searchvar-container .search-input input::placeholder {
  font-family: "Nanum Gothic", sans-serif;
  font-weight: bold;
  font-size: 1em;
  color: grey;
}
header.searchvar-container .search-input button {
  margin-left: -37px;
  border-radius: 15px;
  z-index: 2;
  width: 30px;
  background-color: white;
  color: grey;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  /*margin-right: -10px;*/
}
header.searchvar-container .search-input button img {
  width: 100%;
  border-radius: 15px;
  opacity: 0.4;
}
header.searchvar-container .nav-not-mss-post {
  width: 20em;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
header.searchvar-container .nav-not-mss-post img {
  width: 1.8em;
  padding: 0;
  margin: 0 0.8em;
  cursor: pointer;
}
header.searchvar-container .nav-not-mss-post img.klk-logo {
  width: 2em;
}
header.searchvar-container .nav-not-mss-post button {
  margin-left: 0.8em;
  padding: 10px 18px;
  font-size: 1em;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  color: white;
  box-shadow: 0 3px 16px rgba(179, 94, 52, 0.8156862745);
  background-image: linear-gradient(to right, #E1306C, #FD1D1D, #F77737, #FCAF45);
}

/**/
/*Styles for the stories section*/
div.stories-container div.story {
  display: flex;
  flex-direction: column;
}

/*styles for the FEED CONTAINER*/
div.feed-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  -moz-column-gap: 0.5em;
       column-gap: 0.5em;
  row-gap: 0.5em;
}

@media (max-width: 600px) {
  div.feed-container {
    grid-template-columns: 1fr;
  }
}
.post-feed-container {
  display: grid;
  grid-template-columns: 1fr;
  background-color: white;
  padding: 2%;
  border-radius: 20px;
  /*Interaction styles*/
  /*Likes text styles*/
}
.post-feed-container header.header-post {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3%;
}
.post-feed-container header.header-post .user-name-locat {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-shrink: 0;
}
.post-feed-container header.header-post .user-name-locat .img-user {
  width: 25%;
  flex-shrink: 0;
}
.post-feed-container header.header-post .user-name-locat .img-user img {
  width: 100%;
  min-width: 100%;
  border-radius: 50px;
}
.post-feed-container header.header-post .user-name-locat .info-user p {
  margin: 0.2em;
}
.post-feed-container header.header-post .user-name-locat .info-user .name {
  font-size: 0.9em;
  font-weight: bold;
}
.post-feed-container header.header-post .user-name-locat .info-user .location {
  font-size: 0.8em;
  color: grey;
}
.post-feed-container header.header-post .options-user {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
.post-feed-container header.header-post .options-user img {
  width: 14%;
  opacity: 0.3;
  cursor: pointer;
}
.post-feed-container .image-post {
  width: 100%;
}
.post-feed-container .image-post img {
  width: 100%;
}
.post-feed-container div.option-post {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.5em;
  padding: 0 1em;
}
.post-feed-container div.option-post button {
  background-color: white;
  width: 3em;
  cursor: pointer;
  border: none;
}
.post-feed-container div.option-post button img {
  width: 100%;
}
.post-feed-container .likes-info, .post-feed-container .post-quote {
  padding: 0 1em;
  margin-top: 0.5em;
}
.post-feed-container .likes-info p, .post-feed-container .post-quote p {
  margin: 0;
}
.post-feed-container .likes-info p {
  font-size: 1em;
}
.post-feed-container .likes-info p .name-liked {
  font-weight: bold;
}
.post-feed-container .post-quote {
  margin-bottom: 2em;
}
.post-feed-container .post-quote .user-name-post {
  margin-right: 10px;
  font-weight: bold;
}/*# sourceMappingURL=styles.css.map */