
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');
$fontpageReg: 'Nanum Gothic', sans-serif;
* {
  box-sizing: border-box;
  /*border: 0.5px solid rebeccapurple;*/
}

body {
  margin: 0;
}

html {
  font-size: 100%;
  font-family: 'Nanum Gothic', sans-serif;
}

/*Styles for the general FEED container*/
main.main-feed-container {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  padding: 1.3% 2%;
  background-color: rgb(240, 240, 240);
  border-radius: 40px;

  h2 {
    color: #202020;
    font-size: 2em;
  }
}

header.searchvar-container, div.stories-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*Styles for the navegation var section*/
header.searchvar-container {
  .search-input {
    flex: 1;
    max-width: 30em;
    display: flex;
    align-items: center;
    position: relative;
    input{
      flex: 1;
      padding: 10px 30px;
      border-radius: 20px;
      font-size: 1em;
      border: none;
      box-shadow: inset 2px 2px 8px rgba(152, 152, 152, 0.276);
    }
    input:focus {
      outline: none;
      background-color: #fff1ea;
    }

    input::placeholder {
      font-family: $fontpageReg;
      font-weight: bold;
      font-size: 1em;
      color: grey;
    }

    button {
      margin-left: -37px;
      border-radius: 15px;
      z-index: 2;
      width: 30px;
      background-color: white;
      color: grey;
      border: none;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      /*margin-right: -10px;*/
      img {
        width: 100%;
        border-radius: 15px;
        opacity: 0.4;
      }
    } 
  }
  .nav-not-mss-post {
    width: 20em;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    
    img {
      width: 1.8em;
      padding: 0;
      margin: 0 0.8em;
      cursor: pointer;
    }
    img.klk-logo {
      width: 2em;
    }
    button {
      margin-left: 0.8em;
      padding: 10px 18px;
      font-size: 1em;
      border: none;
      border-radius: 20px;
      cursor: pointer;
      color: white;
      box-shadow: 0 3px 16px #b35e34d0;
      background-image: linear-gradient(to right, #E1306C, #FD1D1D, #F77737, #FCAF45);
    }

  }
}
/**/

/*Styles for the stories section*/
div.stories-container {
 justify-content: flex-start;
 gap: 2em;

  div.story {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    
  }

  div.story {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    width: 8em;
    border: none;
    
    .img-border {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 8em;
      height: 8em;
      border-radius: 50%;
      border: none;
      background-image: linear-gradient(to left, #405DE6, #833AB4, #E1306C, #F77737);
    
    }
    img {
      width: 96%;
      height: auto;
      border-radius: 50%;
      border: none;
    }
  }
}



/*styles for the FEED CONTAINER*/

div.feed-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 0.5em;
  row-gap: 0.5em;
} 
@media (max-width:600px) {
  div.feed-container {
    grid-template-columns: 1fr;
  }
}

.post-feed-container {
  display: grid;
  grid-template-columns: 1fr;
  background-color: white;
  padding: 2%;
  border-radius: 20px;

  header.header-post {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3%;

    .user-name-locat {
      flex: 1;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-shrink: 0;
      .img-user {
        width: 25%;
        flex-shrink: 0;
        img {
          width: 100%;
          min-width: 100%;
          border-radius: 50px;
        }
      }
      .info-user {
        p {
          margin: 0.2em;
        }
        .name {
          font-size: 0.9em;
          font-weight: bold;
        }
        .location {
          font-size: 0.8em;
          color: grey;
        }
      }
     
    }
    .options-user {
      flex: 1;
      display: flex;
      justify-content: flex-end;
      width: 100%;
      img {
        width: 14%;
        opacity: 0.3;
        cursor: pointer;
      }
    }

  }

  //image div post
  .image-post {
    width: 100%;

    img {
      width: 100%;
    }
  }
  /*Interaction styles*/
  div.option-post {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0.5em;
    padding: 0 1em;

    button {
      background-color: white;
      width: 3em;
      cursor: pointer;
      border: none;
      img {
        width: 100%;
      }
    }
  }
  /*Likes text styles*/
  .likes-info, .post-quote {
    padding: 0 1em;
    margin-top: 0.5em;
    p {
      margin: 0;
    }
  }

  .likes-info {
    p {
      font-size: 1em;
      .name-liked {
        font-weight: bold;
      }
    }
  }
  .post-quote {
    margin-bottom: 2em;
    .user-name-post {
      margin-right: 10px;
      font-weight: bold;
    }
  }

}